<h2 md-dialog-title>{{ portal.name }}</h2>

<md-dialog-content>
  <md-list>
  <h3 md-subheader>Details</h3>
  <md-list-item>
    <h4 md-line>Website</h4>
    <p md-line><a target="_blank" href="{{ portal.url }}">{{ portal.url }}</a></p>
  </md-list-item>
  <md-list-item>
    <h4 md-line>Region</h4>
    <p md-line>{{ portal.region }}</p>
  </md-list-item>
  <md-list-item *ngIf="portal.platform">
    <h4 md-line>Platform</h4>
    <p md-line>{{ portal.platform }}</p>
  </md-list-item>
  <md-list-item>
    <h4 md-line>Dataset Count</h4>
    <p md-line>{{ portal.datasetCount | number }}</p>
  </md-list-item>
  <md-list-item>
    <h4 md-line>Updated Date</h4>
    <p md-line>{{ portal.updatedTime | date }}</p>
  </md-list-item>
  <md-list-item *ngIf="portal.description">
    <h4 md-line>Description</h4>
    <p md-line>{{ portal.description }}</p>
  </md-list-item>
</md-list>

</md-dialog-content>

<button type="button" md-raised-button md-dialog-close>Close</button>
