<div class="page-content hidden-y background-black">
  <div class="app-logo" fxLayout="column" fxLayoutAlign="center center">
    <div class="app-title color-white">One Open Data Network</div>
    <div class="app-subtitle color-white">connecting more than 1,000 open data portals</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <md-input-container class="search-box">
      <input mdInput
             class="text-center color-white"
             type="search"
             [(ngModel)]="keywords"
             (keyup.enter)="search(keywords)"
             placeholder="Looking for data?">
    </md-input-container>
  </div>
  <div class="search-dialog" fxLayout="row" fxLayoutAlign="center center">
    <button md-raised-button (click)="search(keywords)">
      <i class="fa fa-search" aria-hidden="true"></i> &nbsp; Search
    </button>
  </div>
  <img class="background-image" src="../../media/images/main-background.jpeg">
</div>
