<div class="page-content" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="app-logo" fxLayout="column" fxLayoutAlign="center center">
      <div class="app-title">Datarea.io</div>
      <div class="app-subtitle">one open data network</div>
    </div>
  </div>
  <div class="search-dialog">
    <md-input-container class="search-box">
      <input mdInput
             [(ngModel)]="keywords"
             (keyup.enter)="search(keywords)"
             placeholder="Find data from 1,000 open data portals">
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button md-raised-button (click)="search(keywords)">
        <i class="fa fa-search" aria-hidden="true"></i> &nbsp; Search
      </button>
    </div>
  </div>
  <div class="platform-logo-board">
    <h4 class="text-center">Supported Platforms</h4>
    <div fxLayout="row" fxLayoutAlign="center center">
      <md-card class="platform-logo"
               fxLayout="row" fxLayoutAlign="center center"
               *ngFor="let platform of supportedPlatforms"
               mdTooltip="{{ platform.name }}"
               mdTooltipPosition="below">
        <img src="{{ platform.logo }}">
      </md-card>
    </div>
  </div>
</div>
