.botton-group {
  margin: 10px;
  width: calc(~'100% - 200px');

  button {
    margin-right: 10px;
  }
}

.detail-tab {
  width: 1200px;
  height: 600px;
  margin: 10px 5px 10px 5px;
}

.filter-controls {
  margin-top: 15px;
  margin-left: 5px;
}

.sidebar-map {

  .sidebar {
    z-index: 800;
  }

  .sidebar-panel {
    padding: 10px 20px;
    cursor: default;

    md-list-item {
      &:hover {
        background-color: #dbdbdb;
      }
    }

    button {
      margin-top: 10px;
    }
  }
}
