<div class="page-content" fxLayout="column" fxLayoutAlign="start center">
  <h2>
    Datarea.io is keeping track with {{ portalCount | number }} open data portals
  </h2>

  <h3>
    {{ datasetSum | number }} datasets for {{ regionCount | number }} regions
  </h3>

  <div fxLayout="row" fxLayoutAlign=" center" class="botton-group">
    <button md-raised-button [mdMenuTriggerFor]="viewMenu">View: {{ currentView }}</button>
    <button md-raised-button [mdMenuTriggerFor]="filterMenu" *ngIf="currentView !== 'Download'">Filter by: {{ currentFilter }}</button>
    <md-input-container *ngIf="currentView !== 'Download' && currentFilter !== 'None'">
      <input mdInput type="search"
             placeholder="Type filter values here..."
             [(ngModel)]="filterKeywordsrWords"
             (input)="onFilterKeywordChanged($event.target.value)">
    </md-input-container>
  </div>

  <md-menu #viewMenu="mdMenu">
    <button md-menu-item (click)="switchView('Map')">Map</button>
    <button md-menu-item (click)="switchView('List')">List</button>
    <button md-menu-item (click)="switchView('Download')">Download</button>
  </md-menu>

  <md-menu #filterMenu="mdMenu">
    <button md-menu-item (click)="switchFilter('None')">None</button>
    <button md-menu-item (click)="switchFilter('Name')">Name</button>
    <button md-menu-item (click)="switchFilter('Platform')">Platform</button>
    <button md-menu-item (click)="switchFilter('Location')">Location</button>
  </md-menu>

  <div class="detail-page scrollable-y white-frame" [hidden]="currentView !== 'List'">
    <ngx-datatable class="material"
      [columnMode]="'force'"
      [rows]="portalList.rows"
      [columns]="portalList.columns"
      [limit]="15"
      [headerHeight]="50"
      [rowHeight]="50"
      [footerHeight]="50"
      (activate)="onPortalListClick($event)">
    </ngx-datatable>
  </div>

  <div class="detail-page white-frame" [hidden]="currentView !== 'Map'">
    <div id="portal-map" class="sidebar-map">
      <div id="portal-map-sidebar" class="sidebar collapsed" [hidden]="!showSidebar">
          <div class="sidebar-tabs">
            <ul role="tablist">
              <li><a href="#portal-map-sidebar-home" role="tab"><i class="fa fa-bars"></i></a></li>
            </ul>
          </div>

          <div class="sidebar-content">
            <div id="portal-map-sidebar-home"
                 class="sidebar-panel"
                 *ngIf="selectedRegion !== null">
                <h1 class="sidebar-header">
                  {{ selectedRegion.name }}
                  <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <md-list>
                  <h3 md-subheader>{{ selectedRegion.portals.length }} portal(s) in this region</h3>
                  <md-list-item class="clickable"
                                *ngFor="let portal of selectedRegion.portals"
                                (click)="openDetailDialog(portal)">
                    <h4 md-line>{{ portal.name }}</h4>
                    <p md-line *ngIf="portal.datasetCount">datasts: {{ portal.datasetCount | number }}</p>
                  </md-list-item>
                </md-list>

                <button md-raised-button (click)="closeSidebar()">Close</button>
            </div>
        </div>
    </div>
  <div>


</div>
