.botton-group {
  margin: 10px;
  width: calc(~'100% - 200px');

  button {
    margin-right: 10px;
  }
}

.detail-page {
  width: calc(~'100% - 200px');
  height: calc(~'100% - 230px');
}

#portal-map {
  height: 100%;

  .sidebar-panel {
    padding: 10px 20px;
    cursor: default;
  }
}
