<div class="page-content scrollable-y background-grey" fxLayout="column" fxLayoutAlign="start center">

  <h1>
    Open Data Network
  </h1>

  <h3>
    {{ portalCount | number }} portals | {{ datasetSum | number }} datasets
  </h3>

  <md-tab-group>
    <md-tab label="Map">

      <div class="filter-controls" fxLayout="row" fxLayoutAlign="start start">
        <md-input-container>
          <input mdInput
                 placeholder="Filter portals..."
                 [(ngModel)]="filterKeywords"
                 (change)="onFilterKeywordChanged(filterKeywords)">
        </md-input-container>

        <md-select placeholder="Filter by"
                   [(ngModel)]="currentFilter"
                   (change)="switchFilter(filter)">
          <md-option *ngFor="let filter of filters" [value]="filter">
            {{ filter }}
          </md-option>
        </md-select>
      </div>

      <div #portalMap class="sidebar-map detail-tab">
        <div #portalMapSidebar class="sidebar collapsed" [hidden]="!showSidebar">
            <div class="sidebar-tabs">
              <ul role="tablist">
                <li><a href="#portal-map-sidebar-home" role="tab"><i class="fa fa-bars"></i></a></li>
              </ul>
            </div>

            <div class="sidebar-content">
              <div id="portal-map-sidebar-home"
                   class="sidebar-panel"
                   *ngIf="selectedRegion !== null">
                  <h1 class="sidebar-header">
                    {{ selectedRegion.name }}
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                  </h1>

                  <md-list>
                    <h3 md-subheader>{{ selectedRegion.portals.length }} portal(s) in this region</h3>
                    <md-list-item class="clickable"
                                  *ngFor="let portal of selectedRegion.portals"
                                  (click)="openDetailDialog(portal)">
                      <h4 md-line>{{ portal.name }}</h4>
                      <p md-line *ngIf="portal.datasetCount">datasts: {{ portal.datasetCount | number }}</p>
                    </md-list-item>
                  </md-list>

                  <button md-raised-button (click)="closeSidebar()">Close</button>
              </div>
            </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="List">

      <div class="filter-controls" fxLayout="row" fxLayoutAlign="start start">
        <md-input-container>
          <input mdInput
                 placeholder="Filter portals..."
                 [(ngModel)]="filterKeywords"
                 (change)="onFilterKeywordChanged(filterKeywords)">
        </md-input-container>

        <md-select placeholder="Filter by"
                   [(ngModel)]="currentFilter"
                   (change)="switchFilter(filter)">
          <md-option *ngFor="let filter of filters" [value]="filter">
            {{ filter }}
          </md-option>
        </md-select>
      </div>

      <ngx-datatable class="material detail-tab scrollable-y"
        [columnMode]="'force'"
        [rows]="portalList.rows"
        [columns]="portalList.columns"
        [limit]="15"
        [headerHeight]="50"
        [rowHeight]="50"
        [footerHeight]="50"
        (activate)="onPortalListClick($event)">
      </ngx-datatable>

    </md-tab>
    <md-tab label="Statistics">
      <div class="detail-tab" fxLayout="row" fxLayoutAlign="center none">
        <div fxFlex="50">
          <h3>Portal Statistics</h3>
          <p><strong>Datarea.io</strong> collects data from open data portals every week to provide latest open data information.</p>
          <p>Dowload a portal statistics report to see how these portals perform:</p>
          <md-input-container>
            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="exportDate">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker #picker [startAt]="startDate"></md-datepicker>
          <md-select placeholder="Report format" [(ngModel)]="exportFormat">
            <md-option [value]="'json'">JSON</md-option>
            <md-option [value]="'csv'">CSV</md-option>
          </md-select>
          <button md-raised-button [disabled]="!exportFormat || !exportDate" (click)="export()">
            <i class="fa fa-download"></i>&nbsp; Download
          </button>
        </div>
        <div fxFlex="50" class="background-white white-frame padding-20">
          <h3>Report Example</h3>
          <md-tab-group>
            <md-tab label="JSON">
              <pre>{{ jsonReportExample }}</pre>
            </md-tab>
            <md-tab label="CSV">
              <pre>{{ csvReportExample }}</pre>
            </md-tab>
          </md-tab-group>
        </div>
      </div>
    </md-tab>

    <md-tab label="Add New Portal">
      <div class="detail-tab">
        <h3>You know a portal that is not at our list?</h3>
        <p>
          SingularData.net collects open data information by using data portal's API.
          If you know a data portal that opens dataset metadata API and it's not
          at out list, please let us know!
        </p>
        <button md-raised-button (click)="openGoogleForm()">Add a new portal</button>
      </div>
    </md-tab>

  </md-tab-group>
</div>
