<md-toolbar class="white-frame" color="primary">
  <span class="clickable" routerLink=".">Datarea.io</span>
  <span class="space-filler"></span>
  <a md-button routerLink="about">About</a>
  <a md-button routerLink="portals">Portals</a>
  <a md-button href="https://medium.com/@haoliangyu" target="_blank">Blog</a>
  <a md-icon-button href="https://github.com/DatareaIO" target="_blank">
    <i class="fa fa-github fa-lg"></i>
  </a>
  <a md-icon-button class="mat-icon-button" href="mailto:haoliang.yu@outlook.com">
    <i class="fa fa-envelope"></i>
  </a>
</md-toolbar>

<router-outlet></router-outlet>
