<md-toolbar class="white-frame" class="background-black">
  <img class="header-logo" src="../../media/images/logo-white.png">
  <span class="color-white clickable" routerLink=".">Singular Data</span>
  <span class="space-filler"></span>
  <a md-button routerLink="about">
    <span class="color-white">About</span>
  </a>
  <a md-button routerLink="portals">
    <span class="color-white">Portals</span>
  </a>
  <a md-button href="http://eepurl.com/cW487L" target="_blank">
    <span class="color-white">Subscribe</span>
  </a>
  <a md-icon-button href="https://github.com/SingularData" target="_blank">
    <i class="fa fa-github fa-lg color-white"></i>
  </a>
  <a md-icon-button class="mat-icon-button" href="mailto:haoliang.yu@outlook.com">
    <i class="fa fa-envelope color-white"></i>
  </a>
</md-toolbar>

<router-outlet></router-outlet>
