.display-image {
  width: 400px;
  height: 400px;
}

.problem-start {
  margin: 80px 0 80px 0;
}

.about-title {
  height: 400px;
}

.about-problem {
  width: 80%;
  min-width: 800px;
}

.about-footer {
  height: 150px;
}
