<div class="page-content scrollable-y">
  <div class="about-title background-grey" fxLayout="column" fxLayoutAlign="center center">
    <div class="text-center">
      <h1>One Entry to All Open Data</h1>
      <h4>Connecting open data portals into one network</h4>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <div class="problem-start text-center">
      <h3>The increasing open data and open data portals is a good news and a bad news.</h3>
    </div>

    <div id="search-problem" class="about-problem" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
        <img class="display-image" src="../../media/images/logo-images.png">
      </div>
      <div fxFlex="growth">
        <h3>Connect Data Portals</h3>
        <p>
          Searching data across different portals is boring and time consuming.
        </p>
        <p>
          We collect dataset information from hundreds of open data portals and combine them into one database.
        </p>
        <a md-raised-button href="portals">
          <span>See portal list</span>
        </a>
      </div>
    </div>
    <div id="portal-problem" class="about-problem" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
        <img class="display-image" src="../../media/images/spec-image.png">
      </div>
      <div fxFlex="growth">
        <h3>One Data Specification</h3>
        <p>
          While each portal opens its data in a different way, we try our best to
          create one consitent interface for each dataset.
        </p>
        <a md-raised-button href="https://github.com/SingularData/dataset-spec" target="_blank">
          <span>See dataset spec</span>
        </a>
      </div>
    </div>
    <div id="user-problem" class="about-problem" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
        <img class="display-image" src="../../media/images/search-multi-image.png">
      </div>
      <div fxFlex="growth">
        <h3>Search One, Search All</h3>
        <p>
          By applying search engine tech to our open data network, you can search
          in one box and reach the whole nework.
        </p>
        <p>
          Use less time to search and have more time working on the data.
        </p>
        <a md-raised-button href="" target="_blank">
          <span>How it works</span>
        </a>
      </div>
    </div>
  </div>
</div>
