<div class="page-content" fxLayout="row" fxLayoutAlign="center center">
  <div class="about-text" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <img src="../../media/images/dokodemo-door.jpeg">
    </div>
    <div>
      <p>Hi, I am Haoliang Yu, the developer behind Datarea.io.</p>
      <p>
        <strong>Suitable data is uneasy to find.</strong> According to a
        <a href="https://www.opendatasoft.com/a-comprehensive-list-of-all-open-data-portals-around-the-world">recent report</a>
        from <a href="https://www.opendatasoft.com/">OpenDataSoft</a>, more than 2,600
        open data portals are in the world and the number keeps increasing. There
        is on doubt that the increasing data opening creates more potential for
        data analysis and research, but the rapidly increasing open data and the
        more distributed open data network has created questions for us:
      </p>
      <ul>
        <li>Where can I find the wanted data?</li>
        <li>How do I know whether it's appropriate for my project?</li>
        <li>How many possible dataset can I find?</li>
      </ul>
      <p>
        It takes time, experience, expertise, even social connections to accomplish
        the data finding task. All these together makes up a larget part of professional
        work for a data analyst or scientist.
      </p>
      <p>
        This work shouldn't be this hard and this is why I create the application
        <strong>Datarea.io</strong>, the <a href="http://doraemon.wikia.com/wiki/Anywhere_Door">anywhere door</a>
        to what you want. No more searching data for hours. No more asking friends
        of friends for data information. It should be an entrance for
        the extensive open data network and a tool that helps you reach
        <a href="/portals">1,000+ open data portals</a> with just a few clicks.
      </p>
    </div>
  </div>
</div>
