@import "../../variables";

:host(app-main-page) {
  height: 100%;
  width: 100%;
}

.page-section-1 {
  height: calc(100% - #{$header-height});
}

.page-section-x {
  height: calc(100% + #{$header-height});
}

.main-search-box {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
