.color-primary {
  color: #3F51B5;
}

color-black {
  color: black;
}

.color-white {
  color: white;
}

.background-primary {
  background-color: #3F51B5
}

.background-black {
  background-color: black;
}

.background-grey {
  background-color: #EBEBEB;
}

.background-white {
  background-color: white;
}
