/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";
@import "./variables";

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.clickable {
  cursor: pointer;
}

.box-frame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.element-row {
  display: flex;
  justify-content: flex-start;
}

.space-filler {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.page {
  height: calc(100% - #{$header-height});
}

.page-content {
  padding: 20px 0;
  width: 50%;
  min-width: 800px;
  height: inherit;
  min-height: 400px;
}

.color-white {
  color: white;
}

.color-primary {
  color: $primary-color;
}

.background-primary {
  background-color: $primary-color;
}

.mat-card-margin {
  margin: 10px 5px;
}
